[user]
	name = David Lukes
	email = dafydd.lukes@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	ll = log --graph --all --decorate --oneline
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	s = status -s
	unstage = reset HEAD
	wdiff = diff --word-diff=color --unified=1
[push]
	default = simple
[pull]
	rebase = true
[credential]
	helper = cache
[diff "pandoc"]
  textconv = pandoc --to=markdown
	prompt = false
[help]
	autocorrect = 3
