[user]
  name = David Lukes
  email = dafydd.lukes@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  quotepath = off
[color]
  ui = auto
[alias]
  unstage = reset HEAD
[push]
  default = simple
[pull]
  rebase = true
[credential]
  helper = cache
[diff "pandoc"]
  textconv = pandoc --to=markdown
  prompt = false
[help]
  autocorrect = 3
[diff]
  tool = vimdiff
[difftool "vimdiff"]
  path = nvim
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  path = nvim
