[Unit]
Description=Night Light for monitor brightness
After=network-online.target

[Service]
Type=simple
# Don't generate crash reports.
Environment="ABRT_IGNORE_PYTHON=1"
ExecStart=%h/.files/systemd/bin/night_light_brightness.py
