html {
  --fg: #333;
  --fg-light: #999;
  --bg: #fafafa;
  --hi: #4169e1; /* royalblue */
  transition: filter .5s ease;
}
html.dark {
  filter: invert(.9);
}
body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
#preamble, #postamble {
  position: sticky;
  top: 1rem;
}
#lights {
  cursor: pointer;
}
#table-of-contents ul {
  list-style-type: none;
  padding-left: 0;
}
#content {
  max-width: 40rem;
  margin: revert;
  overflow: auto;
}

/* Various kinds of links. */
a {
  color: var(--hi);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
:is(h1, h2, h3, h4, h5, h6) a {
  color: var(--fg);
  text-decoration: none;
}
:is(h1, h2, h3, h4, h5, h6) a:hover {
  text-decoration: none;
}
:is(h1, h2, h3, h4, h5, h6) a:hover::after {
  content: ' §';
  color: var(--fg-light);
}
#table-of-contents a {
  color: var(--fg-light);
}
#table-of-contents a:hover {
  color: var(--hi);
  text-decoration: none;
}

/* Source blocks. */
pre.src {
  counter-reset: line;
  padding-left: 0;
}
pre.src code::before {
  counter-increment: line;
  content: counter(line);
  color: var(--fg-light);
  width: 2em;
  display: inline-block;
  text-align: right;
  padding-right: .5em;
  margin-right: .5em;
  border-right: 1px solid #bbb;
}

/* Figures. */
.figure img {
  max-width: 100%;
}
